{{#> layout}}
  {{#> head}}
    <title>VGRanker | Home</title>
    
  {{/head}}
  {{#> body}}


    <div class="card">
      <p>Welcome to VGRanker.</p>
      <p>You can view information about VR games and cast votes to rank them.</p>
      <p>You must <span style="color:#FA8072" <a href="/login">log in</span> to view games and vote.</p>
    </div>
  {{/body}}
    <footer>
      <div class="Github-developers">
        <div>
          <h3>JAKE SCHULTZ</h3>
          <button <a href="https://github.com/mrjakeschultz">GITHUB</button>
        </div>
        <div>
          <h3> Zarrar Raja</h3>
          <button <a href="https://github.com/zmirza0">GITHUB</button>
        </div>
        <div>
          <h3>Khi</h3>
          <button <a href="https://github.com/khiaotic">GITHUB</button>
        </div>
        <div>
          <h3>Dorsa Riahi</h3>
          <button <a href="https://github.com/khiaotic">GITHUB</button>
        </div>
         
      </div>
    </footer>
  
{{/layout}}